<!DOCTYPE html>
<html lang="en">
<head>
	<title>Hackathon de l'Innovation Sociale</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Your description">
	<meta name="keywords" content="Your keywords">
	<meta name="author" content="Your name">

	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

	<link rel="stylesheet" href="siteWebOutils/css/bootstrap.css" type="text/css" media="screen">
	<link rel="stylesheet" href="siteWebOutils/css/bootstrap-responsive.css" type="text/css" media="screen">    
	<link rel="stylesheet" href="siteWebOutils/css/style.css" type="text/css" media="screen">
	<link rel="stylesheet" href="siteWebOutils/css/camera.css" type="text/css" media="screen">

	<!-- time line css-->
	<link rel="stylesheet" href="siteWebOutils/timeLineOutils/css/font.css"> <!-- Resource style -->
	<link rel="stylesheet" href="siteWebOutils/timeLineOutils/css/style.css"> <!-- Resource style -->
	<link rel="stylesheet" href="siteWebOutils/timeLineOutils/css/demo.css"> <!-- Demo style -->
	<!-- end time line css-->

	<!-- prix css-->
	<link rel="stylesheet" href="siteWebOutils/prixCss/style.css">
	<!-- end prix css-->

	<script type="text/javascript" src="siteWebOutils/js/jquery.js"></script>  
	<script type="text/javascript" src="siteWebOutils/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="siteWebOutils/js/superfish.js"></script>

	<script type="text/javascript" src="siteWebOutils/js/jquery.ui.totop.js"></script>

	<script type="text/javascript" src="siteWebOutils/js/camera.js"></script>
	<script type="text/javascript" src="siteWebOutils/js/jquery.mobile.customized.min.js"></script>
	<script>
		$(document).ready(function() {
			// camera
			$('#camera_wrap').camera({
				//thumbnails: true
				autoAdvance			: true,		
				mobileAutoAdvance	: true,
				height: '55%',
				hover: false,
				loader: 'none',
				navigation: false,
				navigationHover: false,
				mobileNavHover: false,
				playPause: false,
				pauseOnClick: false,
				pagination			: true,
				time: 7000,
				transPeriod: 1000
			});


		}); 
		$(window).load(function() {}); 
	</script>
</head>

	<body class="main">
		<div id="main">

			<header>
				<div class="top1">
					<div class="container">
						<div class="row">
							<div class="span12">
								<div class="top1_inner clearfix">
									<div class="logo_wrapper"><a href="#accueil" class="logo"><img src="siteWebOutils/images/logo.png" alt="HACKATHON DE L’INNOVATION SOCIALE"></a></div>
									<div class="social_wrapper">
										<ul class="social clearfix">
										    <li><a href="#"><img src="siteWebOutils/images/social_ic_top1.png"></a></li>
										    <li><a href="#"><img src="siteWebOutils/images/social_ic_top2.png"></a></li>		    	    
										</ul>
									</div>
								</div>	
							</div>	
						</div>	
					</div>
				</div>	
				<div class="top2">
					<div class="menu_wrapper">
						<div class="navbar navbar_ ">
							<div class="navbar-inner navbar-inner_">
								<a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</a>
								<div class="nav-collapse nav-collapse_ collapse">
									<ul class="nav sf-menu clearfix">
										<li class="active"><a href="#accueil">Accueil</a></li>
										<li><a href="/inscriptionPlatform">Inscription</a></li>
										<li><a href="#programme">Programme</a></li>
										<li><a href="#prix">Prix</a></li>
										<li><a href="#api">APIs Suggérées</a></li>
										<li><a href="#projet">Projets</a></li>
										<li><a href="#faq">FAQ</a></li>
										<li><a href="#partenaires">Partenaires</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="slider_wrapper">
						<div id="slider">
							<div id="camera_wrap">
								<div data-src="siteWebOutils/images/slide01.jpg"></div>
								<div data-src="siteWebOutils/images/slide02.jpg"></div>
								<div data-src="siteWebOutils/images/slide03.jpg"></div>
								<div data-src="siteWebOutils/images/slide04.jpg"></div>			
							</div>	
						</div>	
					</div>
				</div>
			</header>	

			<div id="content">
				<div class="container">
				
					<section id="programme">
						<div class="row"><br><br>
								<h1>Programme</h1>
								<section class="cd-timeline js-cd-timeline">
									<div class="cd-timeline__container">
										
										<div class="cd-timeline__block js-cd-block">
											<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
												<img src="siteWebOutils/timeLineOutils/img/creative.svg" alt="Picture">
											</div> <!-- cd-timeline__img -->

											<div class="cd-timeline__content js-cd-content">
												<h2>Séance de sensibilisation (1)</h2>
												<p>Séance de sensibilisation et de démarrage du projet au niveau de : ENSA Safi.</p>
												<span class="cd-timeline__date">14 Mai 2018 (Matinée)</span>
											</div> <!-- cd-timeline__content -->
										</div> <!-- cd-timeline__block -->

										<div class="cd-timeline__block js-cd-block">
											<div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
												<img src="siteWebOutils/timeLineOutils/img/creative.svg" alt="Movie">
											</div> <!-- cd-timeline__img -->

											<div class="cd-timeline__content js-cd-content">
												<h2>Séance de sensibilisation (2)</h2>
												<p>Séance de sensibilisation et de démarrage du projet au niveau de : FPS Safi.</p>
												<span class="cd-timeline__date">14 Mai 2018 (Après-Midi)</span>
											</div> <!-- cd-timeline__content -->
										</div> <!-- cd-timeline__block -->

										<div class="cd-timeline__block js-cd-block">
											<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
												<img src="siteWebOutils/timeLineOutils/img/creative.svg" alt="Picture">
											</div> <!-- cd-timeline__img -->

											<div class="cd-timeline__content js-cd-content">
												<h2>Séance de sensibilisation (3)</h2>
												<p>Séance de sensibilisation et de démarrage du projet au niveau de : EST Safi.</p>
												<span class="cd-timeline__date">15 Mai 2018 (Matinée)</span>
											</div> <!-- cd-timeline__content -->
										</div> <!-- cd-timeline__block -->

										<div class="cd-timeline__block js-cd-block">
											<div class="cd-timeline__img cd-timeline__img--location js-cd-img">
												<img src="siteWebOutils/timeLineOutils/img/internet.svg" alt="Location">
											</div> <!-- cd-timeline__img -->

											<div class="cd-timeline__content js-cd-content">
												<h2>Inscription des projets en ligne</h2>
												<p>Dès le 16 Mai jusqu'à 20 Mai 2018.</p>
												<span class="cd-timeline__date">16 Mai 2018</span>
											</div> <!-- cd-timeline__content -->
										</div> <!-- cd-timeline__block -->

										<div class="cd-timeline__block js-cd-block">
											<div class="cd-timeline__img cd-timeline__img--location js-cd-img">
												<img src="siteWebOutils/timeLineOutils/img/paper-plane.svg" alt="Location">
											</div> <!-- cd-timeline__img -->

											<div class="cd-timeline__content js-cd-content">
												<h2>Présélection des projets - Affectation des coaches</h2>
												<span class="cd-timeline__date">21 Mai 2018</span>
											</div> <!-- cd-timeline__content -->
										</div> <!-- cd-timeline__block -->

										<div class="cd-timeline__block js-cd-block">
											<div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
												<img src="siteWebOutils/timeLineOutils/img/creative.svg" alt="Movie">
											</div> <!-- cd-timeline__img -->

											<div class="cd-timeline__content js-cd-content">
												<h2>Formation et Immersion</h2>
												<p>Dès le 22 Mai jusqu'à 23 Mai 2018.</p>
												<span class="cd-timeline__date">22 Mai 2018</span>
											</div> <!-- cd-timeline__content -->
										</div> <!-- cd-timeline__block -->

										<div class="cd-timeline__block js-cd-block">
											<div class="cd-timeline__img cd-timeline__img--location js-cd-img">
												<img src="timeLineOutils/img/profits.svg" alt="Location">
											</div> <!-- cd-timeline__img -->

											<div class="cd-timeline__content js-cd-content">
												<h2>Mise en oeuvre des projets</h2>				
												<p>Dès le 24 Mai jusqu'à 27 Mai 2018.</p>
												<span class="cd-timeline__date">24 Mai 2018</span>
											</div> <!-- cd-timeline__content -->
										</div> <!-- cd-timeline__block -->

										<div class="cd-timeline__block js-cd-block">
											<div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
												<img src="siteWebOutils/timeLineOutils/img/clock.svg" alt="Movie">
											</div> <!-- cd-timeline__img -->

											<div class="cd-timeline__content js-cd-content">
												<h2>Bootcamp à l'ENSA Safi</h2>
												<p>Dès le 28 Mai jusqu'à 29 Mai 2018.</p>
												<span class="cd-timeline__date">28 Mai 2018</span>
											</div> <!-- cd-timeline__content -->
										</div> <!-- cd-timeline__block -->

										<div class="cd-timeline__block js-cd-block">
											<div class="cd-timeline__img cd-timeline__img--location js-cd-img">
												<img src="siteWebOutils/timeLineOutils/img/microphone.svg" alt="Location">
											</div> <!-- cd-timeline__img -->

											<div class="cd-timeline__content js-cd-content">
												<h2>Compétition</h2>				
												<span class="cd-timeline__date">30 Mai 2018</span>
											</div> <!-- cd-timeline__content -->
										</div> <!-- cd-timeline__block -->

										<div class="cd-timeline__block js-cd-block">
											<div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
												<img src="siteWebOutils/timeLineOutils/img/paper-plane.svg" alt="Movie">
											</div> <!-- cd-timeline__img -->

											<div class="cd-timeline__content js-cd-content">
												<h2>Cérémonie - Remise des prix</h2>
												<span class="cd-timeline__date">30 Mai 2018</span>
											</div> <!-- cd-timeline__content -->
										</div> <!-- cd-timeline__block -->


									</div>
								</section> <!-- cd-timeline -->
						</div>
					</section>


					<section id="prix" class="fixedImg">
						<div class="row"><br><br>
							<h1>Prix</h1>
							<center>
								<div class="promos" style="margin-left: 20%;"> 
								    <div class="promo down">
								      	<div class="deal">
								      		<center>
								      			<img src="siteWebOutils/images/prix-2.png">
								      			<span class="txtPrice">Deuxième prix</span>							     
										      	<span class="txtPoint">.............</span>							     
									      		<span class="txtPriceValue">10.000 MAD</span>	
								      		</center>
								      	</div>					     
								    </div>

								    <div class="promo scale">
								     	<div class="deal">							      	
									        <center>
									        	<img src="siteWebOutils/images/prix-1.png">
									      		<span class="txtPrice">Premier prix</span>							     
											    <span class="txtPoint">.............</span>							     
										      	<span class="txtPriceValue">15.000 MAD</span>	
									        </center>
								      	</div> 
								  	</div>

								    <div class="promo down"> 
								    	<div class="deal">							      	
									        <center>
									        	<img src="siteWebOutils/images/prix-3.png">
									        	<span class="txtPrice">Troisième prix</span>							     
										   	 	<span class="txtPoint">.............</span>							     
									      		<span class="txtPriceValue">7.000 MAD</span>	
									        </center>
									     </div>
								    </div>
								</div>
							</center>
						</div>
					</section>


					<section id="api">
						<div class="row"><br><br>
							<h1>APIs suggérées</h1>

							<center>
								<div class="section-group">
									<div class="apiDiv">
										<div class="apiDivContent">
											<img src="siteWebOutils/images/api/Playbasis.png">
										</div>
										<div class="apiDivContent apiTxt">
											<p class="apiText">Playbasis pose les fondations de votre stratégie pour impliquer l'utilisateur.</p>
										</div>
									</div>
									<div class="apiDiv">
										<div class="apiDivContent">
											<img src="siteWebOutils/images/api/Dygraphs.png">
										</div>
										<div class="apiDivContent apiTxt">
											<p class="apiText">Dygraphs est capable d'explorer et d'interpréter des jeux de données très denses.</p>
										</div>
									</div>
								</div>

								<div class="section-group">
									<div class="apiDiv">
										<div class="apiDivContent">
											<img src="siteWebOutils/images/api/InstantAtlas.png">
										</div>
										<div class="apiDivContent apiTxt">
											<p class="apiText">Instantatlas permet de combiner facilement des statistiques et des cartes.</p>
										</div>
									</div>
									<div class="apiDiv">
										<div class="apiDivContent">
											<img src="siteWebOutils/images/api/inetsoft.png">
										</div>
										<div class="apiDivContent apiTxt">
											<p class="apiText">Visualizefree passe au crible des données multi-dimensionnelles et détecte ainsi les tendances.</p>
										</div>
									</div>
								</div>

								<div class="section-group">
									<div class="apiDiv">
										<div class="apiDivContent">
											<img src="siteWebOutils/images/api/Google.png">
										</div>
										<div class="apiDivContent apiTxt">
											<p class="apiText">permet de visualiser des données via un grand nombre de graphiques prêts à l'emploi.</p>
										</div>
									</div>
									<div class="apiDiv">
										<div class="apiDivContent">
											<img src="siteWebOutils/images/api/BetterWorld.png">
										</div>
										<div class="apiDivContent apiTxt">
											<p class="apiText">communique visuellement l'état du monde en termes de niveau et de qualité de vie.</p>
										</div>
									</div>
								</div>

								<div class="section-group">
									<div class="apiDiv">
										<div class="apiDivContent">
											<img src="siteWebOutils/images/api/polymaps.png">
										</div>
										<div class="apiDivContent apiTxt">
											<p class="apiText">Polymaps est une bibliothèque JavaScript qui permet de réaliser des cartes interactives.</p>
										</div>
									</div>
									<div class="apiDiv">
										<div class="apiDivContent">
											<img src="siteWebOutils/images/api/Maps.png">
										</div>
										<div class="apiDivContent apiTxt">
											<p class="apiText">permet de construire une carte personnalisée via l'utilisation de bâtiments en 3D.</p>
										</div>
									</div>
								</div>

								<div class="section-group">
									<div class="apiDiv">
										<div class="apiDivContent">
											<img src="siteWebOutils/images/api/callr.png">
										</div>
										<div class="apiDivContent apiTxt">
											<p class="apiText">The callr est une API pour la gestion de services vocaux et SMS.</p>
										</div>
									</div>
								</div>

							</center>
						</div>	   
					</section>
						

					<section id="projet">
						<div class="row">
							<h1>List des projets</h1>	
							<br/><br/><br/><br/><br/><br/>														
							<div class="section-group upLeft">
								<table class="table">
									<tr>
										<th>Libellé de projet</th>
										<th>Description</th>
										<th>Lead</th>
										<th>Contact</th>
									</tr>
									<tr>
										<td>project name</td>
										<td>project short description</td>
										<td>fullname</td>
										<td>name@example.com</td>
									</tr>
								</table>
							</div>
						</div>
					</section>	


					<section id="faq">
						<div class="row">
							<h1>FAQ</h1>	<br/><br/><br/><br/>
							<div class="section-group upLeft">
								<h2>Pourquoi y participer ?</h2>
								<p class="upLeftText">Pour développer son réseau, gagner un prix, échanger avec des experts, bénéficier de l’accompagnement d’un grand Groupe, être coaché par des ingénieurs spécialisés, et surtout, avoir la possibilité de partir en incubation afin de transformer une idée en réalité opérationnelle. Un weekend fun et des rencontres uniques !</p>
							</div>

							<div class="section-group upLeft">
								<h2>Qui peut participer ?</h2>
								<p class="upLeftText">L'événement est ouvert à tous. Quel que soit votre profil ou vos compétences, vous pouvez prendre part au challenge en équipe.</p>
							</div>

							<div class="section-group upLeft">
								<h2>Est-ce que je peux m'inscrire en équipe ?</h2>
								<p class="upLeftText">Non, l’inscription sur le site se fait de manière individuelle mais vous pouvez venir avec des coéquipiers et compléter votre équipe - ou non - une fois sur place.</p>
							</div>

							<div class="section-group upLeft">
								<h2>La participation à l'événement est-elle payante ?</h2>
								<p class="upLeftText">Non, l’événement est complètement gratuit. Vous avez seulement à vous inscrire en ligne.</p>
							</div>

							<div class="section-group upLeft">
								<h2>Jusqu’à quand puis-je m’inscrire ?</h2>
								<p class="upLeftText">Jusqu'au jour J de l'événement, le 6 novembre 2015.</p>
							</div>


							<div class="section-group upLeft">
								<h2>Y a t-il une limite de participants ?</h2>
								<p class="upLeftText">La limite est fixée sur les capacités d'accueil du lieu.</p>
							</div>

							<div class="section-group upLeft">
								<h2>Quel genre d'idée peut-on développer ?</h2>
								<p class="upLeftText">Toutes les idées sont les bienvenues à partir du moment où elles rentrent dans la thématique et répondent aux défis posés.</p>
							</div>

							<div class="section-group upLeft">
								<h2>Quel matériel dois-je ramener pour le hackathon ?</h2>
								<p class="upLeftText">Jusqu'au jour J de l'événement, le 6 novembre 2015.</p>
							</div>


						</div>
					</section>


					<section id="partenaires">
						<div class="row">
							<h1>Partenaires</h1>	
							<br/><br/><br/><br/><br/><br/>							
							<center>
								<div class="partenairesGroupSection">
									<img class="partenairesImg" src="siteWebOutils/images/partenaires/uca.png">
									<img class="partenairesImg" src="siteWebOutils/images/partenaires/ensasafi.png">
									<img class="partenairesImg" src="siteWebOutils/images/partenaires/ocp.png">
									<img class="partenairesImg" src="siteWebOutils/images/partenaires/fps.png">
									<img class="partenairesImg" src="siteWebOutils/images/partenaires/ests.png">
								</div>
							</center>
						</div>
					</section>

				</div>
			</div>

			<footer>	
				<div class="bot2">
					<div class="container">
						<div class="row">
							<div class="span12">
								<div class="copyright">Copyright © 2018. "Hackathon de l'Innovation Sociale" Tous droits réservés.</div>
							</div>	
						</div>	
					</div>	
				</div>
			</footer>
		</div>

		<script type="text/javascript" src="siteWebOutils/js/bootstrap.js"></script>
		<!-- time line outils script -->
		<script src="siteWebOutils/timeLineOutils/js/main.js"></script>
		<!-- end time line outils script -->
	</body>
</html>