
<!DOCTYPE html>
 <html lang="zxx">

    <head>

    	<!-- Metas -->
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="keywords" content="Hackathon,Innovation,Sociale,Safi" />
		<meta name="description" content="Vous êtes des étudiants (es) de la faculté poly-disciplinaire, de l’Ecole Nationale des Sciences Appliquées ou de l’Ecole Supérieure de Technologie à Safi. Vous voulez mettre vos connaissances au service de communautés défavorisées et chercher des solutions innovantes aux déficits sociaux. Le Hakathon de l’innovation sociale est la bonne adresse pour tester votre idée de projet." />
		<meta name="author" content="" />

		<!-- Title  -->
		<title>Hackathon de l'innovation Sociale</title>

		<!-- Favicon -->
		<link rel="shortcut icon" href="img/favicon.ico" />

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800" rel="stylesheet">
		
		<!-- Plugins -->
		<link rel="stylesheet" href="siteweb/css/plugins.css" />

        <!-- Core Style Css -->
        <link rel="stylesheet" href="siteweb/css/style.css" />
        <link rel="stylesheet" href="siteweb/css/custom.css" />

    </head>

    <body>

    	<!-- =====================================
    	==== Start Loading -->

    	<div class="loading">
    		<div class="text-center middle">
    			<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    		</div>
    	</div>
        
    	<!-- End Loading ====
    	======================================= -->

       
    	<!-- =====================================
    	==== Start Navbar -->

		<nav class="navbar navbar-expand-lg">
			<div class="container">

            <!-- Logo -->
            <a class="logo" href="#">
                <img src="siteweb/img/logo-light.png" alt="logo">          
            </a>

			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="icon-bar"><i class="fas fa-bars"></i></span>
			  </button>

			  <!-- navbar links -->
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav ml-auto">
			      <li class="nav-item">
			        <a class="nav-link active" href="#" data-scroll-nav="0">Home</a>
			      </li>
			      <li class="nav-item">
                    <a class="nav-link" href="#" data-scroll-nav="1">Programme</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" data-scroll-nav="3">APIs suggérées</a>
                  </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#" data-scroll-nav="4">Prix</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#" data-scroll-nav="5">List des projets</a>
                  </li>
                  <li class="nav-item">
			        <a class="nav-link" href="https://aracpi.com/innovation/inscriptionPlatform">Se connecter</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#" data-scroll-nav="6">Contact</a>
                  </li>
			    </ul>
			  </div>
			</div>
		</nav>

    	<!-- End Navbar ====
    	======================================= -->


    	<!-- =====================================
    	==== Start Header -->

    	<header class="header valign bg-img" data-scroll-index="0" data-overlay-dark="5" data-background="siteweb/img/bg.jpg" data-stellar-background-ratio="0.5">
    		<div class="container">
    			<div class="row">
    				<div class="full-width text-center caption mt-30">
    					<h3>Innovation Sociale Safi</h3>
                        <h1 class="cd-headline clip">
                            <span class="blc">The Way Of </span>
                            <span class="cd-words-wrapper">
                              <b class="is-visible">Success</b>
                              <b>Grow Up</b>
                              <b>Dream</b>
                            </span>
                        </h1>
                        <p>Les projets arrivent à la deuxième étape de la présélection </p>
                        <a href="#" data-scroll-nav="5" class="butn butn-bg">
                            <span>Consultez les projets</span>
                        </a>
    				</div>
    			</div>
    		</div>

    		<div class="arrow">
				<a href="#" data-scroll-nav="1">
					<i class="fas fa-chevron-down"></i>
				</a>
			</div>
    	</header>

    	<!-- End Header ====
    	======================================= -->


    	<!-- =====================================
    	==== Start Hero -->
    	
        <section class="hero section-padding pb-0" data-scroll-index="1">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-2 col-lg-8 text-center mb-80">
                        <h4 class="extra-text">Innovation <span>Sociale</span> Safi.</h4>
                        <p>Vous êtes des étudiants (es) de la faculté poly-disciplinaire, de l’Ecole Nationale des Sciences Appliquées ou de l’Ecole Supérieure de Technologie à Safi. Vous voulez mettre vos connaissances au service de communautés défavorisées et chercher des solutions innovantes aux déficits sociaux. Le Hakathon de l’innovation sociale est la bonne adresse pour tester votre idée de projet.</p>
                    </div>

                

                    <div class="container">
                            <ul class="timeline">
                              <li>
                                <div class="timeline-badge"><i class="fa fa-lightbulb"></i>
                                </div>
                                <div class="timeline-panel">
                                  <div class="timeline-heading">
                                    <h4 class="timeline-title">Séance de sensibilisation (1)</h4>
                                    <p><small class="text-muted"><i class="fa fa-clock"></i> 14 Mai 2018 (Matinée)</small></p>
                                  </div>
                                  <div class="timeline-body">
                                    <p>Séance de sensibilisation et de démarrage du projet au niveau de : ENSA Safi.</p>
                                  </div>
                                </div>
                              </li>

                              <li class="timeline-inverted">
                                    <div class="timeline-badge"><i class="fa fa-lightbulb"></i>
                                    </div>
                                    <div class="timeline-panel">
                                      <div class="timeline-heading">
                                        <h4 class="timeline-title">Séance de sensibilisation (2)</h4>
                                        <p><small class="text-muted"><i class="fa fa-clock"></i> 14 Mai 2018 (Après-Midi)</small></p>
                                      </div>
                                      <div class="timeline-body">
                                        <p>Séance de sensibilisation et de démarrage du projet au niveau de : FPS Safi</p>
                                      </div>
                                    </div>
                                  </li>
                                  <li>
                                        <div class="timeline-badge"><i class="fa fa-lightbulb"></i>
                                        </div>
                                        <div class="timeline-panel">
                                          <div class="timeline-heading">
                                            <h4 class="timeline-title">Séance de sensibilisation (3)</h4>
                                            <p><small class="text-muted"><i class="fa fa-clock"></i> 14 Mai 2018 (Matinée)</small></p>
                                          </div>
                                          <div class="timeline-body">
                                            <p>Séance de sensibilisation et de démarrage du projet au niveau de : EST Safi.</p>
                                          </div>
                                        </div>
                                    </li>
                              <li class="timeline-inverted">
                                <div class="timeline-badge warning"><i class="fa fa-globe"></i></div>
                                <div class="timeline-panel">
                                  <div class="timeline-heading">
                                    <h4 class="timeline-title">Inscription des projets en ligne</h4>
                                    <p><small class="text-muted"><i class="fa fa-clock"></i> 16 Mai 2018</small></p>
                                  </div>
                                  <div class="timeline-body">
                                    <p>Dès le 16 Mai jusqu'à 20 Mai 2018</p>
                                  </div>
                                </div>
                              </li>
                              <li>
                                <div class="timeline-badge danger"><i class="fa fa-filter"></i></div>
                                <div class="timeline-panel">
                                  <div class="timeline-heading">
                                    <h4 class="timeline-title">Présélection des projets - Affectation des coaches</h4>
                                    <p><small class="text-muted"><i class="fa fa-clock"></i> 21 Mai 2018</small></p>
                                </div>
                                  <div class="timeline-body">
                                  </div>
                                </div>
                              </li>
                              
                              <li class="timeline-inverted">
                                <div class="timeline-badge info"><i class="fa fa-lightbulb"></i></div>
                                <div class="timeline-panel">
                                  <div class="timeline-heading">
                                    <h4 class="timeline-title">Formation et Immersion</h4>
                                    <p><small class="text-muted"><i class="fa fa-clock"></i> 22 Mai 2018</small></p>
                                  </div>
                                  <div class="timeline-body">
                                    <p>Dès le 22 Mai jusqu'à 23 Mai 2018.</p>                                    
                                  </div>
                                </div>
                              </li>
                              
                              <li>
                                <div class="timeline-badge success"><i class="fa fa-thumbtack"></i></div>
                                <div class="timeline-panel">
                                  <div class="timeline-heading">
                                    <h4 class="timeline-title">Mise en oeuvre des projets</h4>
                                    <p><small class="text-muted"><i class="fa fa-clock"></i> 24 Mai 2018</small></p>
                                  </div>
                                  <div class="timeline-body">
                                    <p>Dès le 24 Mai jusqu'à 27 Mai 2018..</p>
                                  </div>
                                </div>
                              </li>

                              <li class="timeline-inverted">
                                    <div class="timeline-badge danger"><i class="fa fa-clock"></i></div>
                                    <div class="timeline-panel">
                                      <div class="timeline-heading">
                                        <h4 class="timeline-title">Bootcamp à l'ENSA Safi</h4>
                                        <p><small class="text-muted"><i class="fa fa-clock"></i> 26 Mai 2018.</small></p>
                                      </div>
                                      <div class="timeline-body">
                                        <p>Dès le 26 Mai jusqu'à 27 Mai 2018..</p>                                    
                                      </div>
                                    </div>
                                </li>

                                <li >
                                        <div class="timeline-badge success"><i class="fa fa-microphone"></i></div>
                                        <div class="timeline-panel">
                                          <div class="timeline-heading">
                                            <h4 class="timeline-title">Compétition</h4>
                                            <p><small class="text-muted"><i class="fa fa-clock"></i> 30 Mai 2018.</small></p>
                                          </div>
                                          <div class="timeline-body">
                                          </div>
                                        </div>
                                    </li>

                                    <li class="timeline-inverted">
                                            <div class="timeline-badge info"><i class="fa fa-trophy"></i></div>
                                            <div class="timeline-panel">
                                              <div class="timeline-heading">
                                                <h4 class="timeline-title">Cérémonie - Remise des prix</h4>
                                                <p><small class="text-muted"><i class="fa fa-clock"></i> 30 Mai 2018.</small></p>
                                              </div>
                                              <div class="timeline-body">
                                              </div>
                                            </div>
                                        </li>
                            </ul>
                          </div>

                </div>
            </div>

        </section>

    	<!-- End Hero ====
    	======================================= -->








    	<!-- =====================================
    	==== Start Services -->
    	
        <section class="services section-padding pb-70" data-scroll-index="3">
            <div class="container">
                <div class="row">
                    
                    <div class="section-head col-sm-12">
                        <h4>
                            <span>APIs</span><br>
                            Suggérées
                        </h4>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="item text-center">
                            <span class="icon"><img src="siteweb/img/api/Playbasis.png" style="width:40%;height: 40%;"></span>
                            <p>Playbasis pose les fondations de votre stratégie pour impliquer l'utilisateur.Playbasis pose les fondations de votre stratégie pour impliquer l'utilisateur.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="item text-center">
                            <span class="icon"><img src="siteweb/img/api/Google.png" style="width:40%;height: 40%;"></span>
                            <p>permet de visualiser des données via un grand nombre de graphiques prêts à l'emploi. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="item text-center">
                            <span class="icon"><img src="siteweb/img/api/InstantAtlas.png" style="width:40%;height: 40%;"></span>
                            <p>Instantatlas permet de combiner facilement des statistiques et des cartes. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="item text-center">
                            <span class="icon"><img src="siteweb/img/api/Dygraphs.png" style="width:50%;height: 50%;"></span>
                            <p>Dygraphs est capable d'explorer et d'interpréter des jeux de données très denses. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="item text-center">
                            <span class="icon"><img src="siteweb/img/api/BetterWorld.png" style="width:50%;height: 50%;"></span>
                            <p>communique visuellement l'état du monde en termes de niveau et de qualité de vie.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="item text-center">
                            <span class="icon"><img src="siteweb/img/api/inetsoft.png" style="width:50%;height: 50%;"></span>
                            <p>Visualizefree passe au crible des données multi-dimensionnelles et détecte ainsi les tendances.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="item text-center">
                            <span class="icon"><img src="siteweb/img/api/polymaps.png" style="width:50%;height: 50%;"></span>
                            <p>Polymaps est une bibliothèque JavaScript qui permet de réaliser des cartes interactives.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="item text-center">
                            <span class="icon"><img src="siteweb/img/api/data-gov.png" style="width:50%;height: 50%;"></span>
                            <p>Les données ouvertes de l'Administration Marocaines. <a href="http://data.gov.ma/fr" target="_blank" style="color: #accd0d"> #data.gov.ma </a></p>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="item text-center">
                            <span class="icon"><img src="siteweb/img/api/callr.png" style="width:50%;height: 50%;"></span>
                            <p>The callr est une API pour la gestion de services vocaux et SMS.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="item text-center">
                            <span class="icon"><img src="siteweb/img/api/mod.png" style="width:30%;height: 30%;"></span>
                            <p>Haut Commissariat au Plan. <a href="https://www.hcp.ma/" target="_blank" style="color: #accd0d"> #hcp.ma </a></p>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="item text-center">
                            <span class="icon"><img src="siteweb/img/api/Maps.png" style="width:30%;height: 30%;"></span>
                            <p>permet de construire une carte personnalisée via l'utilisation de bâtiments en 3D.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="item text-center">
                            <span class="icon"><img src="siteweb/img/api/logoc.png" style="width:50%;height: 50%;"></span>
                            <p>Conseil Economique Social et Environnemental du Maroc. <a href="http://www.ces.ma/Pages/Accueil.aspx" target="_blank" style="color: #accd0d"> #ces.ma </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    	<!-- End Services ====
    	======================================= -->




    	<!-- =====================================
    	==== Start Price -->

    	<section class="price section-padding bg-gray" data-scroll-index="4">
            <div class="container">
                <div class="row">
                    
                    <div class="section-head col-sm-12">
                        <h4>
                            Prix
                        </h4>
                    </div>

                    <div class="col-lg-4">
                        <div class="item text-center mb-md50">
                            <img src="siteweb/img/prix-3.png" style="width: 50%;height: 50%;"/>
                            <div class="type">
                                <span class="icon"><i class="icofont icofont-rocket-alt-2"></i></span>
                                <h4>Troisième prix</h4>
                            </div>
                            <div class="value">
                                <h3>7.000 <span>MAD</span></h3>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-lg-4">
                            <div class="item text-center mb-md50">
                                <img src="siteweb/img/prix-1.png" style="width: 50%;height: 50%;"/>
                                <div class="type">
                                    <span class="icon"><i class="icofont icofont-rocket-alt-2"></i></span>
                                    <h4>Premier prix</h4>
                                </div>
                                <div class="value">
                                    <h3>15.000 <span>MAD</span></h3>
                                </div>
                                
                            </div>
                    </div>
                    <div class="col-lg-4">
                            <div class="item text-center mb-md50">
                                <img src="siteweb/img/prix-2.png" style="width: 50%;height: 50%;"/>
                                <div class="type">
                                    <span class="icon"><i class="icofont icofont-rocket-alt-2"></i></span>
                                    <h4>Deuxième prix</h4>
                                </div>
                                <div class="value">
                                    <h3>10.000 <span>MAD</span></h3>
                                </div>
                                
                            </div>
                        </div>


                </div>
            </div>
        </section>

    	<!-- End Price ====
    	======================================= -->


        <!-- =====================================
        ==== Start Testimonails -->
        
        <div class="testimonails bg-img" data-overlay-dark="9" data-background="siteweb/img/3.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 over">

                        <div class="section-head mb-50">
                            <h4>
                                FAQ
                            </h4>
                        </div>

                        <div class="owl-carousel owl-theme">
                            <div class="citem">
                                <h5>Pourquoi y participer ?</h5>
                                <p>Pour développer son réseau, gagner un prix, échanger avec des experts, bénéficier de l’accompagnement d’un grand Groupe, être coaché par des ingénieurs spécialisés, et surtout, avoir la possibilité de partir en incubation afin de transformer une idée en réalité opérationnelle. Un weekend fun et des rencontres uniques !</p>   
                            </div>
                            <div class="citem">
                                <h5>Qui peut participer ?</h5>
                                <p>L'événement est ouvert à tous. Quel que soit votre profil ou vos compétences, vous pouvez prendre part au challenge en équipe.</p>   
                            </div>
                            <div class="citem">
                                <h5>La participation à l'événement est-elle payante ?</h5>
                                <p>Non, l’événement est complètement gratuit. Vous avez seulement à vous inscrire en ligne.</p>   
                            </div>
                            <div class="citem">
                                <h5>Jusqu’à quand puis-je m’inscrire ?</h5>
                                <p>Jusqu'à le 20 Mai 2018.</p>   
                            </div>
                            <div class="citem">
                                <h5>Y a t-il une limite de participants ?</h5>
                                <p>La limite est fixée sur les capacités d'accueil du lieu.</p>   
                            </div>
                            <div class="citem">
                                <h5>Quel genre d'idée peut-on développer ?</h5>
                                <p>Toutes les idées sont les bienvenues à partir du moment où elles rentrent dans la thématique et répondent aux défis posés.</p>   
                            </div>
                            <div class="citem">
                                    <h5>Quel matériel dois-je ramener pour le hackathon ?</h5>
                                    <p>Ramenez vos ordis, tablettes, tout ce dont vous pourriez avoir besoin ; il n'y aura pas de prêt de matériel sur place.</p>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- End Testimonails ====
        ======================================= -->


    	<!-- =====================================
    	==== Start Blog -->
    	<section class="blog section-padding" data-scroll-index="5">
            <div class="container">
                <div class="row">

                    <div class="section-head col-sm-12">
                        <h4>
                            <span>List</span><br>
                            Des projets
                        </h4>
                    </div>
                    {% if nbrProjects == 0 %}
                    <div class="col-lg-12">
                        <div class="item text-center mb-md50">
                            <div class="content">
                                <h5><a href="inscriptionPlatform" style="color: #accd0d">Inscrire maintenant</a></h5>
                                <p>la liste est en cours vide !</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
										
					{% for key,item in  projectList %}
                    <div class="col-lg-4">
                        <div class="item text-center mb-md50">
                            <div class="content">
                                <span class="tag">
                                    {{ item.nomPrenom }} / {{ item.email }}
                                </span>
                                <h5><a href="#0" onclick="verify({{key}})" ondblclick="hide({{key}})"><i class="icofont icofont-hand-drawn-down" id="icon{{key}}"></i>{{ item.idee }}</a></h5>
                                <p id="textShow{{key}}" style="display: none">{{ item.descriptionProbleme }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    

                </div>
            </div>
        </section>
    	<!-- End Blog ====
    	======================================= -->


    	<!-- =====================================
    	==== Start Clients -->
    	<div class="clients bg-gray text-center center-block">
            <div class="container text-center center-block">
                <div class="row">
                    <div class="col" >
                        <div class="brand">
                            <img src="siteweb/img/partenaires/ocp.png" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="brand">
                            <img src="siteweb/img/partenaires/ests.png" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="brand">
                            <img src="siteweb/img/partenaires/ensasafi.png" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="brand">
                            <img src="siteweb/img/partenaires/fps.png" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="brand">
                            <img src="siteweb/img/partenaires/uca.png" alt="">
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    	<!-- End Clients ====
    	======================================= -->


        <!-- =====================================
        ==== Start Contact -->
        <section class="contact" data-scroll-index="6">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 map">
                        <div id="ieatmaps"></div>
                        <div class="info valign">
                            <span class="icon-toggle"><i class="icofont icofont-social-google-map"></i></span>

                            <div class="vertical-center">
                               
                                <div class="item">
                                    <span class="icon"><i class="icofont icofont-map"></i></span>
                                    <div class="cont">
                                        <h6>Address : </h6>
                                        <p>Route Sidi Bouzid BP 63, 46000 - Safi, Maroc</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <span class="icon"><i class="icofont icofont-email"></i></span>
                                    <div class="cont">
                                        <h6>Email : </h6>
                                        <p>Khalid EL OUAFA (Prof à la FP Safi). email : Kh_elo@yahoo.fr</p>
                                        <p>Said ECHCHADI (Prof à l'ENSA Safi). email : s.echchadi@uca.ma</p>
                                        <p>BENHIDA KHALID (Prof EST Safi). email : kbenhida@gmail.com</p>
                                        <p>Said CHERGHOU (Volontaire). email : Said.CHERGHOU@ocpfoundation.org</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6 contact-form">
                        <form class='form' id='contact-form' method='post'><input type='hidden' name='form-name' value='contact-form' />

                            <div class="messages"></div>

                            <div class="controls">

                                <div class="row">

                                    <div class="section-head col-sm-12">
                                        <h4>
                                            <span>Consultez</span><br>
                                                Les projets 
                                        </h4>
                                    </div>

                                    
                                    <a href="#" data-scroll-nav="5" class="butn butn-bg" style="color: white;background:#accd0d;padding: 10px 30px;width: 100%;text-align: center">
                                        <span>List des projets</span>
                                    </a>

                                </div>                             
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact ====
        ======================================= -->


    	<!-- =====================================
    	==== Start Footer -->
    	<footer class="text-center">
            <div class="container">

                <!-- Logo -->
                <a class="logo" href="#">
                    <img src="siteweb/img/logo-light.png" alt="logo">          
                </a>
                
                <div class="social">
                    <a href="https://www.facebook.com/InnovationSocialeSafi/" target="_blank"><i class="icofont icofont-social-facebook"></i></a>
                </div>

                <p>&copy; 2018 Hackathon de l'Innovation Sociale. All Rights Reserved.</p>

            </div>
        </footer>
    	<!-- End Footer ====
    	======================================= -->




       
        <!-- jQuery -->
		<script src="siteweb/js/jquery-3.0.0.min.js"></script>
		<script src="siteweb/js/jquery-migrate-3.0.0.min.js"></script>

		<!-- popper.min -->
		<script src="siteweb/js/popper.min.js"></script>

	  	<!-- bootstrap -->
		<script src="siteweb/js/bootstrap.min.js"></script>

		<!-- scrollIt -->
		<script src="siteweb/js/scrollIt.min.js"></script>

		<!-- animated.headline -->
		<script src="siteweb/js/animated.headline.js"></script>

		<!-- jquery.waypoints.min -->
		<script src="siteweb/js/jquery.waypoints.min.js"></script>

		<!-- jquery.counterup.min -->
		<script src="siteweb/js/jquery.counterup.min.js"></script>

		<!-- owl carousel -->
		<script src="siteweb/js/owl.carousel.min.js"></script>

		<!-- jquery.magnific-popup js -->
		<script src="siteweb/js/jquery.magnific-popup.min.js"></script>

		<!-- stellar js -->
		<script src="siteweb/js/jquery.stellar.min.js"></script>

      	<!-- isotope.pkgd.min js -->
      	<script src="siteweb/js/isotope.pkgd.min.js"></script>

        <!-- YouTubePopUp.jquery -->
        <script src="siteweb/js/YouTubePopUp.jquery.js"></script>

        <!-- Map -->
        <script src="siteweb/js/map.js"></script>

      	<!-- validator js -->
      	<script src="siteweb/js/validator.js"></script>

      	<!-- custom scripts -->
        <script src="siteweb/js/scripts.js"></script>

        <script src="controlleurs/more.js"></script>

        <!-- google map api -->
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK7lXLHQgaGdP3IvMPi1ej0B9JHUbcqB0&callback=initMap">
        </script>

    </body>
</html>
