{% extends "baseSuperAdmin.html" %}
{% block title %} SuperAdmin-Innovation-Safi {% endblock %}
{% block body %}


<div class="right_col" role="main">
  <div class="">
    <div class="row top_tiles">
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-braille"></i></div>
          <div class="count">{{ statistiques.nbrProjets }}</div>
          <h3>Nombre de projets</h3>
        </div>
      </div>
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-align-center"></i></div>
          <div class="count">{{ statistiques.nbrCoaches }}</div>
          <h3>Nombre de Coaches</h3>
        </div>
      </div>
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
          <div class="count">{{ statistiques.nbrJurys }}</div>
          <h3>Nombre de Jurys</h3>
        </div>
      </div>
      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
          <div class="icon"><i class="fa fa-check-square-o"></i></div>
          <div class="count">{{ statistiques.nbrSuperAdmins }}</div>
          <h3>Nombre d'Admins</h3>
        </div>
      </div>
    </div>


  </div>
</div>
{% endblock %}