
<!DOCTYPE html>
<html lang="zxx">

   <head>

       <!-- Metas -->
       <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge" />
       <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
       <meta name="keywords" content="Hackathon,Innovation,Sociale,Safi" />
       <meta name="description" content="Vous êtes des étudiants (es) de la faculté poly-disciplinaire, de l’Ecole Nationale des Sciences Appliquées ou de l’Ecole Supérieure de Technologie à Safi. Vous voulez mettre vos connaissances au service de communautés défavorisées et chercher des solutions innovantes aux déficits sociaux. Le Hakathon de l’innovation sociale est la bonne adresse pour tester votre idée de projet." />
       <meta name="author" content="" />

       <!-- Title  -->
       <title>Hackathon de l'innovation Sociale</title>

       <!-- Favicon -->
       <link rel="shortcut icon" href="img/favicon.ico" />

       <!-- Google Fonts -->
       <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800" rel="stylesheet">
       
       <!-- Plugins -->
       <link rel="stylesheet" href="siteweb/css/plugins.css" />

       <!-- Core Style Css -->
       <link rel="stylesheet" href="siteweb/css/style.css" />
       <link rel="stylesheet" href="siteweb/css/custom.css" />

   </head>

   <body>

       <!-- =====================================
       ==== Start Loading -->

       <div class="loading">
           <div class="text-center middle">
               <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
           </div>
       </div>
       
       <!-- End Loading ====
       ======================================= -->

      
       <!-- =====================================
       ==== Start Navbar -->

       <nav class="navbar navbar-expand-lg">
           <div class="container">

           <!-- Logo -->
           <a class="logo" href="#">
               <img src="siteweb/img/logo-light.png" alt="logo">          
           </a>

             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="icon-bar"><i class="fas fa-bars"></i></span>
             </button>

             <!-- navbar links -->
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav ml-auto">
                 <li class="nav-item">
                   <a class="nav-link active" href="https://aracpi.com/innovation/" >Home</a>
                 </li>
               </ul>
             </div>
           </div>
       </nav>

       <!-- End Navbar ====
       ======================================= -->


       <!-- =====================================
       ==== Start Header -->

       <header class="header valign bg-img" data-scroll-index="0" data-overlay-dark="5" data-background="siteweb/img/bg.jpg" data-stellar-background-ratio="0.5">
           <div class="container">
               <div class="row">
                   <div class="full-width text-center caption mt-30">
                       <h3>Innovation Sociale Safi</h3>
                       <h1 class="cd-headline clip">
                           <span class="blc">Une erreur s'est </span>
                           <span class="cd-words-wrapper">
                             <b class="is-visible" style="color:red">produite</b>
                           </span>
                       </h1>
                       <p>Une erreur s'est produite. Si cette page s'affichera beaucoup cennectez nous sur l'email suivant </p>
                       <a href="mailto:contact@aracpi.com" class="butn butn-bg" style="background-color:red;border-color:red">
                           <span>contact@aracpi.com</span>
                       </a>
                   </div>
               </div>
           </div>


       </header>







      
       <!-- jQuery -->
       <script src="siteweb/js/jquery-3.0.0.min.js"></script>
       <script src="siteweb/js/jquery-migrate-3.0.0.min.js"></script>

       <!-- popper.min -->
       <script src="siteweb/js/popper.min.js"></script>

         <!-- bootstrap -->
       <script src="siteweb/js/bootstrap.min.js"></script>

       <!-- scrollIt -->
       <script src="siteweb/js/scrollIt.min.js"></script>

       <!-- animated.headline -->
       <script src="siteweb/js/animated.headline.js"></script>

       <!-- jquery.waypoints.min -->
       <script src="siteweb/js/jquery.waypoints.min.js"></script>

       <!-- jquery.counterup.min -->
       <script src="siteweb/js/jquery.counterup.min.js"></script>

       <!-- owl carousel -->
       <script src="siteweb/js/owl.carousel.min.js"></script>


       <!-- stellar js -->
       <script src="siteweb/js/jquery.stellar.min.js"></script>

         <!-- isotope.pkgd.min js -->
         <script src="siteweb/js/isotope.pkgd.min.js"></script>

         <!-- custom scripts -->
       <script src="siteweb/js/scripts.js"></script>

   </body>
</html>
